@model AspMvcNet.Pagination.PaginatedList<AspMvcNet.Models.Producto>
@{
    ViewData["Title"] = "Entity";
    var prevDisabled= !Model.HasPreviousPage ? "disabled":"";
    var nextDisabled= !Model.HasNextPage ? "disabled":"";
    var total = Model.TotalPages;
    var totalPaginacionNumerica = total+1;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="home" asp-action="index">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="entity" asp-action="index">Entity</a>
        </li>
        <li class="breadcrumb-item">
            <a  asp-controller="entity" asp-action="CategoriasListar"> Categorias    </a>
        </li>
              <li class="breadcrumb-item">
            <a  asp-controller="entity" asp-action="ProductosListar">Productos listar</a>
        </li>
        <li class="breadcrumb-item">
            <a  asp-controller="entity" asp-action="ProductosPaginacion">Productos Paginacion</a>
        </li>
    </ol>
</nav>     

    


<div class="text-center">
    <h2>Productos Paginar</h2>
    <h2>paginas @total</h2>
</div>
 <div class="row"> 
    <p class="d-flex justify-content-end">
        <a  asp-controller="entity" asp-action="CategoriasAdd" class="btn btn-success">
             <i class="fas fa-plus"> Crear  </i>
        </a>
    </p>
</div>     
<hr>
@if(Model.Count()>0)
{
<div class="row"> 
 <div class="table-responsive">
     <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>CATEGORIA</th>
                <th>NOMBRE</th>
                <th>PRECIO</th>
                <th>STOCK</th>
                <th>SLUG</th>
                <th>DESCRIPTION</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var dato in Model){
                 <tr>
                    <td> @dato.Id</td>
                    <td> @dato.Categoria.Nombre</td>
                    <td> @dato.Nombre</td>
                    <td> @dato.Precio</td>
                    <td> @dato.Stock</td>
                    <td> @dato.Slug</td>
                    <td> @dato.Descripcion.ToString().Substring(0,(dato
                                                      .Descripcion.Length >10)?10:dato.Descripcion.Length)...

                    </td>
                    <td> <a  asp-controller="entity" asp-action="CategoriaEdit" asp-route-id="@dato.Id">
                         <i class="fas fa-edit"></i>Edit
                        </a>
                                /
                        <a href="javascript:;" class="delete-link" data-id="@dato.Id">
                                                 <i class="fas fa-edit"></i> Delete
                        </a>                     
                    </td>
                 </tr>                  
            }        
        </tbody>
     </table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
        <a class="page-link" 
           asp-controller="entity" 
           asp-action="ProductosPaginacion"           
           asp-route-pageNumber=1
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           title="firts"
           >
            firts</a></li>   
    <li class="page-item">
        <a class="page-link btn btn-default @prevDisabled"
           asp-controller="entity" 
           asp-action="ProductosPaginacion"           
           asp-route-pageNumber=@(Model.PageIndex - 1)        
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
        >
           last
        </a>
    </li>
    @for(var i=1; i<@totalPaginacionNumerica; i++)
    {
       <li class="page-item">
        <a 
           class="page-link"
           asp-controller="entity" 
           asp-action="ProductosPaginacion"           
           asp-route-pageNumber="@i"           
        >
           @i
        </a>
    </li>   
    }
    <li class="page-item">
        <a class="page-link btn btn-default @nextDisabled"
           asp-controller="entity" 
           asp-action="ProductosPaginacion"           
           asp-route-pageNumber=@(Model.PageIndex +1)        
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
        >
           Next
        </a>
    </li>
    <li class="page-item">
        <a class="page-link"
           asp-controller="entity" 
           asp-action="ProductosPaginacion"           
           asp-route-pageNumber=@total        
        >
            End
        </a>
    </li>
  </ul>
</nav>


 </div>
</div>
}else{
    <p>no hay registros</p>
}
